/* DetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}


button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}


.btn-primary {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


