
<h2>List of Providers</h2>


<div>

  <div class="form-group">
    <form [formGroup]="userForm" (submit)="onSubmit()">

      <div>
        <label for="new-provider">Company Name: </label>
        <input id="new-provider" #providerCompanyName formControlName="companyName" />
        <div *ngIf="userForm.controls.companyName.invalid && userForm.controls.companyName.touched" class="text-danger">companyName is required.</div>
      </div>
      <div>
        <label for="new-provider">City: </label>
        <input id="new-provider" #providerCity formControlName="city" />
        <div *ngIf="userForm.controls.city.invalid && userForm.controls.city.touched" class="text-danger">city is required.</div>
      </div>
      <div>
        <label for="new-provider">Street: </label>
        <input id="new-provider" #providerStreet formControlName="street" />
        <div *ngIf="userForm.controls.street.invalid && userForm.controls.street.touched" class="text-danger">street is required.</div>
      </div>
      <div>
        <label for="new-provider">ZipCode: </label>
        <input id="new-provider" #providerZipCode formControlName="zipCode" />
        <div *ngIf="userForm.controls.zipCode.invalid && userForm.controls.zipCode.touched" class="text-danger">zipCode is required.</div>
      </div>

    </form>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->


  <div>
    <button type="button" id="refreshButton" class="btn btn-primary" (click)="createProvider(providerCompanyName.value, providerCity.value, providerStreet.value, providerZipCode.value ); providerCompanyName.value=''; providerCity.value='' ; providerStreet.value='' ; providerZipCode.value=''">
      Add Provider
    </button>
  </div>

</div>


  <table class='table table-hover table-dark' id="myTable" aria-labelledby="tableLabel" *ngIf="providers.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>CompanyName</th>
        <th>City</th>
        <th>Street</th>
        <th>ZipCode</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{ provider.id }}</td>
        <td>{{ provider.companyName }}</td>
        <td>{{ provider.city }}</td>
        <td>{{ provider.street }}</td>
        <td>{{ provider.zipCode }}</td>
        <td>
          <a class="btn btn-primary" routerLink="/subProvider/details/{{ provider.id }}">Details</a>
        </td>
        <td>
          <a class="btn btn-primary" routerLink="/subProvider/update/{{ provider.id }}">Update</a>
        </td>

        <td>
          <button type="button"
                  class="btn btn-primary"
                  title="delete provider"
                  (click)="delete(provider)">
            Delete
          </button>
        </td>

      </tr>

    </tbody>

  </table>


  <script src="js/script.js"></script>
  <script src="https://browser.sentry-cdn.com/7.107.0/bundle.min.js"></script>


  <script>
    const refreshBtn = document.getElementById("refreshButton");

    function handleClick() {
      window.location.reload();
    }

    refreshBtn.addEventListener("click", handleClick);

  </script>

