<div *ngIf="provider">
  <h2>{{provider.companyName | uppercase}} Update</h2>
  <div><span>id: </span>{{provider.id}}</div>

  <div class="form-group">
    <form [formGroup]="userForm" (submit)="onSubmit()">

      <div>
        <label for="provider-companyName">Provider companyName: </label>
        <input id="provider-companyName" [(ngModel)]="provider.companyName" placeholder="provider name" formControlName="companyName" />
        <div *ngIf="userForm.controls.companyName.invalid && userForm.controls.companyName.touched" class="text-danger">companyName is required.</div>
      </div>
      <div>
        <label for="provider-city">Provider city: </label>
        <input id="provider-city" [(ngModel)]="provider.city" placeholder="provider city" formControlName="city" />
        <div *ngIf="userForm.controls.city.invalid && userForm.controls.city.touched" class="text-danger">city is required.</div>
      </div>
      <div>
        <label for="provider-street">Provider street: </label>
        <input id="provider-street" [(ngModel)]="provider.street" placeholder="provider street" formControlName="street" />
        <div *ngIf="userForm.controls.street.invalid && userForm.controls.street.touched" class="text-danger">street is required.</div>
      </div>
      <div>
        <label for="provider-zipCode">Provider zipCode: </label>
        <input id="provider-zipCode" [(ngModel)]="provider.zipCode" placeholder="provider zipCode" formControlName="zipCode" />
        <div *ngIf="userForm.controls.zipCode.invalid && userForm.controls.zipCode.touched" class="text-danger">zipCode is required.</div>
      </div>

    </form>
  </div>

  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-primary" (click)="goBack()">Return</button>
</div>
