
<h2>List of Storages</h2>

<table class='table table-hover table-dark' id="myTable" aria-labelledby="tableLabel" *ngIf="storages.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let storage of storages">
      <td>{{ storage.id }}</td>
      <td>{{ storage.name }}</td>
      <td>{{ storage.symbol }}</td>
      
    </tr>

  </tbody>

</table>


<script src="js/script.js"></script>
<script src="https://browser.sentry-cdn.com/7.107.0/bundle.min.js"></script>


<script>
    const refreshBtn = document.getElementById("refreshButton");

    function handleClick() {
      window.location.reload();
    }

    refreshBtn.addEventListener("click", handleClick);

</script>


